:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-clor: #2196f3;
  --background-color: #2f303a;
  --white-color: #ffffff;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* ..........................header .........................*/

.header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
}

.header-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 91px;
}
.logo-accent {
  color: var(--accent-text-clor);
}

.header-list {
  display: flex;
  padding-top: 23px;
  padding-bottom: 41px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-text-clor);
}
.current {
  color: var(--accent-text-clor);
}

.header-cont-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-cont-item + .header-cont-item {
  margin-left: 50px;
}

.header-cont-link {
  color: var(--primery-text-color);
}
.header-cont-link:hover,
.header-cont-link:focus {
  color: var(--accent-text-clor);
}

/* .......................Hero........................... */

.hero {
  background-color: var(--background-color);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  /* text-align: center; */
}

.hero-title {
  width: 696px;
  margin: 0px auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  margin: 0 auto;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-text-clor);
  cursor: pointer;
  font-family: inherit;
}

/* .......................Our Qualities........................... */

.qualities-second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.qualities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* .......................What we do........................... */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* .......................Our Team........................... */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* .......................Footer........................... */

.footer {
  background-color: var(--background-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-clor);
}

/* .......................Portfolio........................... */

/* .......................Buttons.......................... */

.porfolio-button {
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--title-text-color);
}
.porfolio-button:hover,
.porfolio-button:focus {
  background-color: var(--accent-text-clor);
}

/* .......................List of works......................... */

.portfolio-works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-work-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
